body, input, textarea, select {
    font: 1em "courier new";
}
ul, li {
    list-style: none;
}
h2 {
    padding: 20px 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
th {
    background-color: #eee;
}
td, th {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    padding: 3px;
}
#nav .top {
    padding: 5px;
}

#nav a {
    display: block;
    padding: 5px 9px;
}
#cat strong {
    text-decoration: underline;
}
#page {
    margin: 5px;
}
#page li {
    float: left;
}
#page a {
    display: block;
    padding: 3px;
}
.box {
    float: left;
    margin: 5px;
    padding: 3px;
    background-color: #ccc;
}
.box-selected {
    background-color: #c33;
}
.curpage {
    font-weight: bold;
}
.msg {
    clear: both;
    padding: 5px;
    background-color: #ff0;
}
.copy {
    padding: 30px 10px;
    font-size: 0.75em;
    color: #ccc;
}